* 
  box-sizing: border-box
  margin: 0
  padding: 0

  background-color: black
  color: white

  $max_percentage: 90%
  .page

    position: relative

    width: Min($max_percentage, 880px)
    // max-width: 880px
    margin: 0 10%
    display: flex
    flex-direction: column
    justify-content: center
    margin: 0 auto;

  .header
    border-bottom: 1px solid white
    
  .header__title
    font-size: 2.5em
    font-weight: bold
    margin: 0 auto
    padding: 0.5em 0

  .profile
    display: flex
    justify-content: space-between
    align-items: center

    @media screen and (max-width: 622px)
      flex-direction: column

  .profile__container
    display: flex
    align-content: center
    align-items: center

    margin-top: 36.5px

    @media screen and (max-width: 622px)
      flex-direction: column

  .profile__info
    margin-left: 30px

    @media screen and (max-width: 622px)
      margin-top: 26.25px

  .profile__name
    @media screen and (max-width: 622px)
      margin-bottom: 14px

  .profile__picture
    border-radius: 50%


  .profile__edit

    margin-left: 18px

    width: 24px
    height: 24px
    border: 1px solid white

    // background-size: 24px 24px
    background-image: url('/images/edit_button.png')
    background-position: center
    background-repeat: no-repeat

    @media screen and (max-width: 622px)
      flex-direction: column

      transform: translate(110px, -58px)

  .profile__add
    border: 2px solid white
    width: 150px
    height: 50px

    @media screen and (max-width: 622px)
      margin-top: 36px

  .elements
    margin-top: 50px

    display: grid
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr))
    grid-row-gap: 20px
    grid-column-gap: 1%

    @media screen and (max-width: 622px)

      margin: 36px auto 0


  .elements__card
    width: 282px
    background-color: white

    overflow: hidden
    border-radius: 10px

  .elements__info
    // https://stackoverflow.com/questions/36652580/how-to-add-three-dots-to-text-when-overflow-in-html

    width: 282px
    
    display: flex

  .elements__text
    // text-overflow: ellipsis

    padding: 21px 0px 21px 15px

    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden

    background-color: white
    color: black

  .elements__like
    background-color: white
    color: black
    border: none

    padding-right: 15px
  
  .form

    // display: none
    display: none
    // display: flex
    // flex-direction: column
    // justify-content: center
    // align-items: center

    width: 430px
    height: 330px

    background-color: white
    position: absolute
    border-radius: 20px
    top: 30%
    left: 50%
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 1280px rgba(0, 0, 0, 0.7);

  .form__container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    background-color: white
    color: black
    border-radius: 20px
    // width: 330px
    // height: 430px

  .form__name
    background-color: white
    color: black
    border: 0;
    outline: 0;
    border-bottom: 1px solid #545454;
    width: 358px
    height: 40px;

  .form__description
    background-color: white
    color: black
    border: 0;
    outline: 0;
    border-bottom: 1px solid #545454;
    width: 358px
    height: 40px;
    // margin-top: 30px;


  .form__title
    color: black
    background-color: white
    font-size: 24px
    font-weight: bold
    width: 358px
    margin-top: 34px
    margin-bottom: 54px

  .form__close-button
    position: absolute
    top: -38px
    right: -38px

  .form__submit
    margin-top: 48px
    width: 358px
    height: 50px


  .footer
    margin-top: 98px
    margin-bottom: 60px




